<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Garages</title>
    <%- include('../partials/header')%>
    <script src="/js/allgarage.js"></script>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>All Garages</h1>
    <div class="container">
        <% for (var garage of garages)  {%>
            Name-<%=garage.name%><br>
            Location-<%=garage.location%><br>
            Location Category-<%=garage.location_cat%><br>
            Number of Slots-<%=garage.slots.length%>(<span id="<%=garage._id%>"></span>)<br>
            <script>getSlotInfo('<%=garage._id%>')</script>
            <a href="/garage/<%=garage._id%>"><button>View Garage</button></a>
            <a href="/slot/garage/<%=garage._id%>"><button>View Slots</button></a>
            <hr>
            <% }%>
    </form>
    </div>
</body>
</html>
