<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Garages</title>
    <%- include('../partials/header')%>
    <%- include('../partials/maps') %>
    <script src="/js/allgarage.js"></script>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <%- include('../partials/alerts')%>
    <h1>All Garages</h1>
    <div id="cluster-map"></div>
    <hr>
    <div class="container">
        <% for (var garage of garages)  {%>
            <img src="<%=garage.picture_url%>" style="height:200px;width:200px;"><br>
            Name-<%=garage.name%><br>
            Location-<%=garage.location%><br>
            Location Category-<%=garage.location_cat%><br>
            Number of Slots-<%=garage.slots.length%>(<span id="<%=garage._id%>"></span>)<br>
            <script>getSlotInfo('<%=garage._id%>')</script>
            <a href="/garage/<%=garage._id%>"><button>View Garage</button></a>
            <a href="/slot/garage/<%=garage._id%>"><button>View Slots</button></a>
            <hr>
            <% }%>
    </form>
    </div>
</body>
</html>
<script>
    const garage_raw='<%-JSON.stringify(garages) %>';
    const mapboxtoken='<%=maptoken%>';
</script>
<script src="/js/clustermap.js"></script>
<style>
#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 500px;
}
</style>