<!DOCTYPE html>
<html lang="en">
<head>
    <title>Garages</title>
    <%- include('../partials/header')%>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>Garage <%=garage.name%></h1>
    <div id='map' style="width: 400px; height: 300px;"></div>
    <img src="<%=garage.picture_url%>" style="width: 400px; height: 300px;">
    <div class="container">
            Name-<%=garage.name%><br>
            Location-<%=garage.location%><br>
            Location Category-<%=garage.location_cat%><br>
            Size-<%=garage.size%><br>
            Owner-<%=garage.owner%><br>
            Number of Slots-<%=garage.slots.length%>
    </form>
    </div>
    <a href="/"><button>Delete</button></a>
</body>
</html>
<script>
var garage=JSON.parse('<%-JSON.stringify(garage) %>');
mapboxgl.accessToken = '<%=maptoken%>';
    var map = new mapboxgl.Map({
    container: 'map', 
    style: 'mapbox://styles/mapbox/streets-v11', 
    center: garage.geometry.coordinates, 
    zoom: 9 
    });
var marker=new mapboxgl.Marker()
    .setLngLat(garage.geometry.coordinates)
    .setPopup(
        new mapboxgl.Popup({offset:25})
        .setHTML(
            `<h3>${garage.name}</h3><p>${garage.location}`
        )
    )
    .addTo(map);
</script>