<!DOCTYPE html>
<html lang="en">
<head>
    <title>Garages</title>
    <%- include('../partials/header')%>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>Garage</h1>
    <div class="container">
            Name-<%=garage.name%><br>
            Location-<%=garage.location%><br>
            Location Category-<%=garage.location_cat%><br>
            Size-<%=garage.size%><br>
            Owner-<%=garage.owner%><br>
            Number of Slots-<%=garage.slots.length%>
    </form>
    </div>
</body>
</html>