<!DOCTYPE html>
<html lang="en">
<head>
    <title>Garages</title>
    <%- include('../partials/header')%>
    <%- include('../partials/maps') %>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <%- include('../partials/alerts')%>
    <h1>Garage <%=garage.name%></h1>
    <div id='map' style="width: 400px; height: 300px;"></div>
    <img src="<%=garage.picture_url%>" style="width: 400px; height: 300px;">
    <div class="container">
            Name-<%=garage.name%><br>
            Location-<%=garage.location%><br>
            Location Category-<%=garage.location_cat%><br>
            Size-<%=garage.size%><br>
            Owner-<%=garage.owner%><br>
            Number of Slots-<%=garage.slots.length%>
    </form>
    </div>
    <form action="/garage/<%=garage._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <a href="/slot/add/<%=garage._id%>"><button>Create Slot</button></a>
</body>
</html>
<script>
    const garage_raw='<%-JSON.stringify(garage) %>';
    const mapboxtoken='<%=maptoken%>';
</script>
<script src="/js/viewgarage.js"></script>