<!DOCTYPE html>
<html lang="en">
<head>
    <title>Garage <%=garage.name%></title>
    <%- include('../partials/header')%>
    <%- include('../partials/maps') %>
    <script src="/js/allgarage.js"></script>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <%- include('../partials/alerts')%>
    <div class="container">
        <br><br>
    <div class="row">
        <div class="col-6">
            <img src="<%= garage.picture_url%>" class="d-block w-100" alt="">
    
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= garage.name%></h5>
                    <p class="card-text">Owned by <%= garage.owner%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Size- <%=garage.size%></li>
                    <li class="list-group-item text-muted">Slots- <%=garage.slots.length%>(<span id="<%=garage._id%>"></span>)
                        <a class="link-info" href="/slot/garage/<%=garage._id%>">View Slots</a>
                    </li>
                    <li class="list-group-item text-muted"><%= garage.location%> (<%= garage.location_cat%>)</li>
                    <script>getSlotInfo('<%=garage._id%>')</script>
                </ul>
            </div>
    
        </div>
        <div class="col-6">
            <div id='map' style="width: auto; height: 350px;"></div>
            <br>
            <% if(body.user_type==="admin") {%>
                <form action="/garage/<%=garage._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" type="submit">Delete Garage</button>
                    <a class="btn btn-primary" href="/slot/add/<%=garage._id%>">Create Slot</a> 
                </form><br>
            <% } %> 
        </div>
    </div>
</div>
</body>
</html>
<script>
    const garage_raw='<%-JSON.stringify(garage) %>';
    const mapboxtoken='<%=maptoken%>';
</script>
<script src="/js/viewgarage.js"></script>