<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%- include('../partials/header.ejs') %>  
</head>
<body>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/alerts.ejs') %>  
<div class="container">
<center><h1>All Bookings</h1></center>

<h3>Your Bookings:</h3>
  <hr>
  <% for(let booking of bookings){ if(booking.status==="Completed"){continue;}%>
    <b>Status</b>-<%=booking.status%><br>
    <b>Start Time</b>-<%=new Date(booking.start_time*1000)%><br>
    <b>End Time</b>-<%=new Date(booking.end_time*1000)%><br>
    <% if(booking.status!=="Cancelled"){ %> 
    <form action="/booking/cancel/<%=booking._id%>" method="POST">
    <button type="submit" class="btn btn-danger">Cancel Booking</button>
    </form>
    <% } %> 
    <hr>
  <% }if(!bookings){ %>
    No Bookings Found!
  <% } %>
  %>
</div>
</body>
<%- include('../partials/footer.ejs') %>