<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%- include('../partials/header.ejs') %>  
</head>
<body>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/alerts.ejs') %>  
<h1>Dashboard</h1>
<h3>Welcome <%=body.name%></h3>
<h4>Money - Rs. <%=body.money%>. <a href="addmoney"><button>Add Money</button></a></h4>
<img src="<%=body.picture_url%>" height="100" width="100"> 
<form method="POST" action="/users/logout?_method=DELETE">
    <button type="submit">Logout</button>
  </form>
  <h3><a href="changeimage"><button>Click to change image</button></a></h3>
  <hr>
  <% for(let booking of bookings){%>
    <b>Status</b>-<%=booking.status%><br>
    <b>Start Time</b>-<%=new Date(booking.start_time*1000)%><br>
    <b>End Time</b>-<%=new Date(booking.end_time*1000)%><br>
    <button>Cancel Booking</button>
  <% }%>
</body>
</html>