<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Slots </title>
    <%- include('../partials/header')%>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>All Slots for <%=garage.name%></h1>
    <div class="container">
        <% for (var slot of slots)  {%>
            Name-<%=slot.name%><br>
            Type-<%=slot.type%><br>
            Price/Minute-<%=slot.price%><br>
            <a href="/slot/<%=slot._id%>"><button>View Slot</button></a>
            <a href="/booking/new/<%=slot._id%>"><button>Book Slot</button></a>
            <hr>
            <% }%>
    </form>
    </div>
</body>
</html>
