<!DOCTYPE html>
<html lang="en">
<head>
    <title>Slot</title>
    <%- include('../partials/header')%>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>Slot <%=slot.name%></h1>
    <div class="container">
            Name-<%=slot.name%><br>
            Type-<%=slot.type%><br>
            Price/Minute-<%=slot.price%><br>
            Bookings-
            <ul>

            <% if(bookings!==[]){%>
                <%for(let booking of bookings){%>
                <li><%=booking.start_time%> - <%=booking.end_time%> </li>
                <% }} else{%>
                    No Bookings Found!
                <%} %>
            </ul>
    </form>
    </div>
</body>
</html>
