<!DOCTYPE html>
<html lang="en">
<head>
    <title>Slot</title>
    <%- include('../partials/header')%>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>Slot <%=slot.name%></h1>
    <div class="container">
            Name-<%=slot.name%><br>
            Type-<%=slot.type%><br>
            Price/Minute-<%=slot.price%><br>
            Bookings-
            

            <% if(bookings.length!==0){%>
                <ul>
                <%for(let booking of bookings){%>
                <li><%=new Date(booking.start_time*1000)%> - <%=new Date(booking.end_time*1000)%> </li>
            <% }%>            </ul> 
            <% }else{%>
                No Bookings Found!
            <%} %>
            <a href="/booking/new/<%=slot._id%>"><button>Book Slot</button></a>
            <form action="/slot/<%=slot._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
    </form>
    </div>
</body>
</html>
