<!DOCTYPE html>
<html lang="en">
<head>
    <title>Slot</title>
    <%- include('../partials/header')%>
</head>
<body>
    <%- include('../partials/alerts')%>
    <h1>Slot <%=slot.name%></h1>
    <div class="container">
            Name-<%=slot.name%><br>
            Type-<%=slot.type%><br>
            Price/Minute-<%=slot.price%><br>
            <hr>
    </form>
    </div>
</body>
</html>
